*ul {
    list-style-type: none;
}

*li {
    list-style-type: none;
}


/* Grid */
.grid {
    display: grid;
}

.main-head {
    grid-area: header;
    grid-column: col-start 1/ span 3;
    grid-row: 1;
}

.item-nav {
    grid-area: nav;
}

.item-content {
    grid-area: content;
}

.item-footer {
    grid-area: footer;
}

.grid {
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 50px 150px 50px;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "content content content"
        " footer footer footer"
    ;
}

/* Grid */

* {
    box-sizing: border-box;
    margin: 20px;

}

body,
html {
    margin-left: 0px;
    padding: 0px;
    background-color: #121212;
    font-family: Hack, monospace;
    position: relative;
    place-content: center;
}

.grid {
    width: 80%;
    margin: auto;
    align-content: flex-start;
    place-content: center;
}

div {
    color: #727272;
    text-align: center;
}

a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.downloads {
    float: left;
    color: #8f8f8f;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
}

/*HEADER*/


.main-head {
    margin-right: auto;
    margin-left: auto;
    width: inherit;
    grid-area: header;
    padding: 1px;
    color: white;
}

.header-image {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 92%;
    left: -3px;
    opacity: 5;
    align-content: flex-start;
    place-content: center;

}

.header-text {
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 80px;
    left: 240px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    align-content: flex-start;

}

/*HEADER*/

/*NAVBAR*/

.item-nav {
    grid-area: nav;
    padding-top: 4px;
    object-fit: contain;
    background-color: #eee;
    scroll-behavior: smooth;
    flex-direction: column;
    margin: 0;
    width: 99.9%;
    height: 30%;
    margin-left: 24px;
    margin-top: -35px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.nav-font {
    list-style: none;
    margin: 6px;
    top: 2px;
    bottom: 10px;
    font-size: 15px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
    display: inline-block;
    align-content: flex-start;
    width: fit-content;
    place-content: center;

}

.nav-font::before {
    content: attr(data-item);
    transition: all 3s ease-in-out;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

.nav-font:hover {
    margin: 1%;
    bottom: 5px;
    transition: all 0.8s ease-in-out;
}

/*NAVBAR*/

/*CONTEUDO*/

.item-content {
    grid-area: content;
    text-align: center;
    margin: 0px;
    font-size: 15px;
    color: #ccc;
    text-transform: uppercase;
    text-align: center;
}

.indextitleL {
    font-size: 25px;
    margin-left: 30px;
    margin-top: 180px;
    padding: 0;
    text-align: left;
}
.indextitleL99{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 80px;
    padding: 0;
    text-align: left;
}
.indextitleL2 {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 300px;
    padding: 0;
    text-align: right;
}

.indextitleL4 {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 450px;
    padding: 0;
    text-align: left;
}

.indextitleL5 {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 450px;
    padding: 0;
    text-align: left;
}

.indextitleL7 {
    font-size: 25px;
    margin-top: 300px;
    margin-right: 10px;
    padding: 0;
}

.indextitleR {
    font-size: 25px;
    margin-top: 150px;
    margin-right: 10px;
    padding: 0;
    text-align: right;
}

.indextitleR20 {
    font-size: 25px;
    margin-top: 105px;
    margin-right: 10px;
    padding: 0;
    text-align: right;
}

.indextitleR21 {
    font-size: 25px;
    margin-top: 315px;
    margin-right: 10px;
    padding: 0;
    text-align: right;
}

.indextitleR8 {
    font-size: 25px;
    margin-top: 500px;
    margin-right: 10px;
    padding: 0;
    text-align: center;
}



.bola {
    float: right;
}

.bats {
    float: right;
}

.cleats {
    float: right
}

.capacete1 {
    float: left;
    position: relative;
}

.chapeu {
    float: left;
}



img {
    height: 20vw;
    width: 34vw;
    align-content: space-around;
    margin: 10px;
    border-radius: 5px;
}

.equipamento {
    float: left;
    margin: 10px;
    position: relative;
}


.uniforme {
    float: right;
    margin: 10px;
    position: relative;
}

.p1-imageR {
    float: right;
    margin: 10px;
}

.p1-imageL {
    float: left;
    margin: 26px;
}

p strong,
p mark {
    font-weight: 700;
    font-style: oblique;
    background: linear-gradient(-100deg, #b0bec58f, #7aaac2, #91bcd2cd);
    border-radius: 2em 0;
    padding: .5rem;

}

.points {
    height: 15vw;
    width: 15vw;
    margin: 10px;
}

.shorts {
    height: 35vw;
    width: 25vw;
    margin: 10px;
}

.video {
    float: inherit;
    height: 570px;
    width: 80%;
}

.item1 p,
.item2 p,
.item3 p,
.item4 p,
.item5 p,
.item6 p,
.item7 p {
    line-height: 1.4em;
    font-weight: 500;
    text-transform: none;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*CONTEUDO*/

.xmlxsxd {
    font-style: normal;
}

/*FOOTER*/


.item-footer {
    grid-area: footer;
    margin: 0;
    margin-bottom: 20px;
    width: 101%;
    margin-left: 15px;
    margin-top: 58px;
    height: 150px;
    background-color: #eee;
    overflow: hidden;
    scroll-behavior: smooth;
    flex-direction: column;
    position: relative;
    align-content: center;
    text-transform: uppercase;
    border-radius: 5px;

}

.highlight::before {
    content: attr(data-item);
    transition: all 3s ease-in-out;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

.highlight:hover {
    margin: 1%;
    bottom: 5px;
    transition: all 0.8s ease-in-out;
}

/*FOOTER*/
/*BUTTON AL & NL*/
button {
    font-size: 25px;
    font-weight: 600;
    padding: 16px 26px;
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: #ccc;
    color: black;
    border: 2px solid #041E42;
    position: relative;
    box-shadow: 0 12px 16px 0 #041e424d, 0 17px 50px 0 #041e4288;
}

button:hover {
    background-color: #bf0d3fb7;
    color: white;
}

button:active {
    background-color: #bf0d3fb7;
    box-shadow: 0 5px #041e424d;
    transform: translateY(4px);
}

#button2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: -50px;
    padding: 16px 26px;
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: #ccc;
    color: #010101;
    border: 2px solid #BF0D3E;
    position: relative;
    box-shadow: 0 12px 16px 0 #bf0d3f34, 0 17px 50px 0#bf0d3f4a;
}

#button2:hover {
    background-color: #032456cf;
    color: white;
}

.btn-group {
    margin-left: 10px;
    margin-bottom: 80px;
    border: none;
    border-radius: 8px;
    justify-content: center;
}

.btn-group2 {
    float: right;
    margin-bottom: 50px;
    border: none;
    border-radius: 8px;
}

.btn-group h1 {
    margin-top: -10px;
}

.btn-group2 h2 {
    margin-bottom: 40px;
}

.button-link {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 90px;
    border-radius: 8px;
    padding: 16px 26px;
    transition-duration: 0.4s;
    background-color: #ccc;
    color: black;
    border: 2px solid #041E42;
}

.button-link:hover {
    background-color: #314c74cf;
}

.button-link:active {
    background-color: #032456cf;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.expanding-list {
    max-width: 300px;
    margin: 20px auto;
    background: #B0BEC5;
    padding: 1em;
    border-radius: 6px;

}

.divisao {
    list-style: none;
    font-weight: 700;
    font-size: medium;
    margin-left: -40px;

}

button #AL-listbutton [aria-expanded="true"] {
    background: red;
    justify-content: center;
}

#list {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: max-height 1.2s ease-in-out;
    transition-timing-function: cubic-bezier(.22, .68, 0, 1.71);

}

li {
    border-radius: 5px;
    margin: 0 0 2px 0;
    padding: 1px;
    font-size: 10px;
    text-align: center;
}

#list[data-open="true"] {
    overflow: auto;
    max-height: 16em;
    animation: hide-scroll 1s backwards;
    overflow-x: hidden;

}

.buttonAL {
    margin: -15px;
    font-size: 16px;
}

@keyframes hide-scroll {

    from,
    to {
        overflow: hidden;
    }
}

#AL-listbutton {
    display: block;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 20px;
    width: 85%;
}

button #NLL-listbutton [aria-expanded="true"] {
    background: red;
    justify-content: center;
}

#listNL {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: max-height 1.2s ease-in-out;
    transition-timing-function: cubic-bezier(.22, .68, 0, 1.71);

}

li {
    border-radius: 5px;
    margin: 0 0 1px 0;
    padding: 1px;
    font-size: 10px;
    text-align: center;

}

.buttonNL {
    margin: -15px;
    font-size: 16px;
}

#listNL[data-open="true"] {
    overflow: auto;
    max-height: 16em;
    animation: hide-scroll 1s backwards;
    overflow-x: hidden;

}

@keyframes hide-scroll {

    from,
    to {
        overflow: hidden;
    }
}

#NL-listbutton {
    display: block;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 20px;
    width: 85%;
}

.button4 {
    font-size: 21px;
    font-weight: 600;
    padding: 16px 26px;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin: 15px;
    background-color: #ccc;
    color: black;
    border: 2px solid #041E42;
}

/*BUTTON AL & NL*/

/*Pop-up*/

.open-button {
    background-color: #041e42b0;
    border: 2px solid #041E42;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 30px;
    width: 260px;

}

open-button:hover {
    background-color: #99032e84;
    color: white;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 350px;
    padding: 5px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.submit2 {
    width: 50%;
}

/* Set a style for the submit/login button */
.form-container .btn {
    color: rgb(11, 129, 11);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    height: 80%;
    width: 50%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}


.text-replacement {
    display: block;
    margin-left: 125px;
    margin-top: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 370px;
    width: 623px;
    padding-top: 200px;
    overflow: hidden;
    text-indent: -9999px;
    background: #333 url(https://preview.redd.it/breaking-san-diego-padres-sign-if-of-goose-to-a-5-year-5m-v0-20ijl3hv4it91.jpg?auto=webp&s=17432e36be1cdef0be81fd1afeebf2275dadce9f) no-repeat;
}