/* -- Box model ------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;

}

/* -- Demo style ------------------------------- */
html, body {
  position: relative;
  min-height: 100%;
  height: 100%;
  background-color:#121212;
  align-content: center;
  
}



body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #121212;
  background-color: #121212;  
   
}

#demo {
  margin: 20px auto;
  max-width: 960px;
}   

#demo h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  font-weight: 300;
  color: #ccc;
  text-transform: inherit;
  margin-bottom: 1rem;
  text-align: center;
}
#demo h2 {
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color:  #ccc;
  text-align: center;
}



/* -- Material Design Table style -------------- */



.table {
  max-width: 100%;
  margin-bottom: 2rem;
  float: right;
  padding-bottom: 100px; 
}


   tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }

  /* Nesting*/
  
   Remove border
  .no-border {
    border: 0;
  }



.table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
    background-color: #fde0dc;
}
.table-hover.table-mc-red > tbody > tr:hover > td,
.table-hover.table-mc-red > tbody > tr:hover > th {
    background-color: #f9bdbb;
}

tr:hover {background-color: rgba(100, 252, 232, 0.315);}