
/*RESPONSIVO*/

@media only screen and (max-width: 600px) and (min-width: 400px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "content content"
            "content content"
            "footer  footer";
    }

    .main-head {
        grid-area: header;
        margin: 0;
        height: 180px;

    }

    .header-image {
        width: 365px;
        height: 160px;
        opacity: 4;
    }

    .header-text {
        text-align: left;
        font-size: 35px;
        position: absolute;
        top: 30px;
        left: 120px;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }

    .main-nav {
        display: none;
        height: 50px;
        margin-top: -20px;
        width: 100%;
    }

    .nav-font {
        display: none;

    }

    img {
        height: 250px;
        width: 360px;
        margin: 20px;
    }

    p1-image {
        float: left;
    }

    .item1 {
        float: left;
    }

    .item2 {
        float: right;
    }

    .item3 {
        grid-column: col-start 1/ span 2;
        grid-row: 6;
    }

    .item4 {
        grid-column: col-start 1/ span 2;
        grid-row: 9;
    }

    .item5 {
        grid-column: col-start 1/ span 2;
        grid-row: 5;

    }

    .item6 {
        grid-column: col-start 1/ span 2;
        grid-row: 6;

    }

    .item7 {
        grid-column: col-start 1/ span 2;
        grid-row: 7;
    }


    .main-footer {
        width: 321px;
        left: 3px;
        font-size: 13px;
        padding-bottom: 30px;
        background-color: #eee;
        overflow: hidden;
        scroll-behavior: smooth;
    }

}

/*RESPONSIVO*/